name: Deploy to Linux Nginx

on:
  push:
    branches:
      - master

jobs:
  build-and-deploy:
    runs-on: [self-hosted, linux]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '24.11.0'

      - name: Install dependencies
        run: npm ci

      - name: Build project
        run: npm run build

      - name: Clear old files
        run: |
          if [ -d "/var/www/html/dist" ]; then
            rm -rf /var/www/html/dist/*
          else
            mkdir -p /var/www/html/dist
          fi

      - name: Copy build files to Nginx
        run: |
          cp -r dist/* /var/www/html/dist